@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: url('~@/assests/fonts/Inter/static/Inter-Light.ttf') format('truetype'); 
}